<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jango_Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Jango_Desktop.Properties.Settings>
            <setting name="DisplaySongBalloon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplaySongBalloonAtEndOfSong" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JangoUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="JangoPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyboardPlayPause" serializeAs="String">
                <value>Ctrl+Oemtilde</value>
            </setting>
            <setting name="KeyboardNextTrack" serializeAs="String">
                <value>Ctrl+OemPeriod</value>
            </setting>
            <setting name="KeyboardRateUp" serializeAs="String">
                <value>Ctrl+Up</value>
            </setting>
            <setting name="KeyboardRateDown" serializeAs="String">
                <value>Ctrl+Down</value>
            </setting>
            <setting name="KeyboardDisplaySong" serializeAs="String">
                <value>Ctrl+OemQuestion</value>
            </setting>
            <setting name="DisplaySongRating" serializeAs="String">
                <value>True</value>
            </setting>
        </Jango_Desktop.Properties.Settings>
    </userSettings>
</configuration>